@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --background: #000000;

        --font: #dadada;
        --font-hover: #ffffff;

        --primary: #1e2128;
        --primary-hover: #272c36;
        --primary-active: #16181d;

        --secondary: #ea580c;
        --secondary-hover: #fb8c24;
        --secondary-active: #d3510c;

        --canvas: #1e2128;

        --span: #a0a0a0;

        --muted: 210 40% 96.1%;
        --muted-foreground: 215.4 16.3% 46.9%;

        --accent: 210 40% 96.1%;
        --accent-foreground: 222.2 47.4% 11.2%;

        --destructive: 0 84.2% 60.2%;
        --destructive-foreground: 210 40% 98%;

        --border: 214.3 31.8% 91.4%;
        --input: 214.3 31.8% 91.4%;
        --ring: 222.2 84% 4.9%;

        --radius: 0.5rem;
    }

    .dark {
        
    }
}

@layer base {
    * {
        @apply box-border border-transparent;
    }
    body {
        @apply bg-background text-font;
    }
    svg {
        @apply h-fit w-fit fill-inherit stroke-inherit;
    }
    img {
        @apply select-none;
    }
}
